<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- ONEOK email components -->
    <add key="EmailFrom" value="webipsupport@oneok.com"/>
    <add key="EmailTo" value="webipsupport@oneok.com"/>
    <add key="EmailCc" value=""/>
    <add key="EmailBcc" value=""/>
    <add key="EmailSmtpServer" value="RELAY.ONEOK.COM"/>
    <!-- Pipeline Environment in FlowCal below-->
    <add key="GPL_Flowcal_Environment" value="FLON"/>
    <add key="MGT_Flowcal_Environment" value="FLON"/>
    <add key="OKT_Flowcal_Environment" value="FLOW"/>
    <add key="VGT_Flowcal_Environment" value="FLON"/>
    <!-- Meter Number columns in FlowCal for each pipeline.  Look for the meter number in these columns-->
    <add key="GPL_fcMeterColumns" value="USER_FIELD3"/>
    <add key="MGT_fcMeterColumns" value="USER_FIELD3"/>
    <add key="OKT_fcMeterColumns" value="USER_FIELD4,USER_FIELD15,USER_FIELD31,USER_FIELD33"/>
    <add key="VGT_fcMeterColumns" value="USER_FIELD3"/>
    <!-- Org ID columns in FlowCal for each pipeline.  Look for the Org ID in these columns-->
    <add key="GPL_fcMeterOrgIdColumns" value="USER_FIELD1"/>
    <add key="MGT_fcMeterOrgIdColumns" value="USER_FIELD1"/>
    <add key="OKT_fcMeterOrgIdColumns" value="USER_FIELD1,USER_FIELD17,USER_FIELD30,USER_FIELD32"/>
    <add key="VGT_fcMeterOrgIdColumns" value="USER_FIELD1"/>
    <!-- Org ID numbers in FlowCal for each pipeline-->
    <add key="GPL_orgIdValue" value="237"/>
    <add key="MGT_orgIdValue" value="231"/>
    <add key="OKT_orgIdValue" value="038"/>
    <add key="VGT_orgIdValue" value="236"/>
    <!-- GQ meters -->
    <add key="GPL_fcGQMeters" value="'2371700801','2371700601','2371700701','2371700501'"/>
    <add key="MGT_fcGQMeters" value="'2316718601','2312720201','2312705601','2312709101','2312720001','2316710901','2312709401','2312702901','2312702801','2312705301'"/>
    <add key="OKT_fcGQMeters" value="'OKTEX020611','OKTEX010120'"/>
    <add key="VGT_fcGQMeters" value="'2362700301','2362701001','2362702201'"/>
    <add key="RunSSRS.ReportExecution2005" value="http://srvrs102poke/ReportServer/ReportExecution2005.asmx"/>
    <!-- SSRS WebService-->
    <add key="SSRSWebService" value="http://ssrs-dev.oneok.com/reportserver/reportExecution2005.asmx"/>
    <add key="RenderFormat" value="HTML4.0"/>
  </appSettings>
  <connectionStrings>
    <!-- SQL Connection Strings-->
    <add name="PRODconnStr" connectionString="Data Source=GTOMA-DBSQL01;initial catalog=SCADA;persist security info=True;packet size=4096;User ID=WebIPService;password=bat4WebIP!; "/>
    <add name="DRconnStr" connectionString="Data Source=GTBRO-DBSQL01;initial catalog=SCADA;persist security info=True;packet size=4096;User ID=WebIPService;password=bat4WebIP!; "/>
    <!-- ORACLE Connection Strings (DUNX, PUNX, DEV, PROD, DR-->
    <add name="DEV_okt" connectionString="user id=cnssview;data source=TOKT;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="DEV_mgt" connectionString="user id=cnssview;data source=TMGT;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="DEV_vgt" connectionString="user id=cnssview;data source=TVGT;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="DEV_gpl" connectionString="user id=cnssview;data source=TGPL;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="PROD_okt" connectionString="user id=cnssview;data source=POKT;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="PROD_mgt" connectionString="user id=cnssview;data source=PMGT;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="PROD_vgt" connectionString="user id=cnssview;data source=PVGT;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="PROD_gpl" connectionString="user id=cnssview;data source=PGPL;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="DR_mgt" connectionString="user id=cnssview;data source=PMGT;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="DR_vgt" connectionString="user id=cnssview;data source=PVGT;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="DR_gpl" connectionString="user id=cnssview;data source=PGPL;password=cnssview;" providerName="System.Data.OracleClient"/>
    <add name="DR_okt" connectionString="user id=cnssview;data source=POKT;password=cnssview;" providerName="System.Data.OracleClient"/>
    <!-- FlowCal connection strings -->
    <add name="FLON" connectionString="data source=TFLON;user id=fcowner_readonly_user;password=readonly;" providerName="System.Data.OracleClient"/>
    <add name="FLOW" connectionString="data source=TFLOW8x;user id=fcowner_readonly_user;password=readonly;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <pages smartNavigation="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <authentication mode="Windows"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="OneOKWCFApi.WebIPRestServices" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                               binding="webHttpBinding"
                               contract="OneOKWCFApi.IWebIPRestServices"
                              behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>